{% extends "base.html" %}

{% load static %}

{% block content %}



{% if bag_items %}
    {{bag_items}}

{% else %}

 <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
{% endif %}

{% endblock %}