{% extends "base.html" %}

{% load static %}

{% block content %}


    <!-- Carousel Start -->
    <div class="container-fluid carousel bg-light px-0">
        <div class="row g-0 justify-content-end">
            <div class="col-12 col-lg-12 col-xl-12">
                <div class="header-carousel owl-carousel bg-light py-5">
                    <div class="row g-0 header-carousel-item align-items-center">
                        <div class="col-xl-6 carousel-img wow fadeInLeft" data-wow-delay="0.1s">
                            <img src="{% static 'img/carousel-1.png' %}"  alt="Events Gifts" width="500px" height="390px">
                        </div>
                        <div class="col-xl-6 carousel-content p-4">
                            <p class="text-uppercase fw-bold mb-4 wow fadeInRight fs-3 text-dark" data-wow-delay="0.1s"
                                style="letter-spacing: 3px;">Save Up To A £400</p>
                            <h1 class="display-3 text-capitalize mb-4 wow fadeInRight" data-wow-delay="0.3s">On Selected
                                Gift Hampers or Events Gifts</h1>
                            <p class="text-dark wow fadeInRight" data-wow-delay="0.5s">Terms and Condition Apply</p>
                            <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInRight" data-wow-delay="0.7s"
                                href="{% url 'products' %}">Shop Now</a>
                        </div>
                    </div>
                    <div class="row g-0 header-carousel-item align-items-center">
                        <div class="col-xl-6 carousel-img wow fadeInLeft" data-wow-delay="0.1s">
                            <img src="{% static 'img/carousel-2.png' %}"  alt="Gift Hampers"   width="500px" height="390px">
                        </div>
                        <div class="col-xl-6 carousel-content p-4">
                            <p class="text-uppercase fw-bold mb-4 wow fadeInRight fs-3 text-dark" data-wow-delay="0.1s"
                                style="letter-spacing: 3px;">Save Up To A £200</p>
                            <h1 class="display-3 text-capitalize mb-4 wow fadeInRight" data-wow-delay="0.3s">On Selected
                                Gift Hampers or Events Gifts</h1>
                            <p class="text-dark wow fadeInRight" data-wow-delay="0.5s">Terms and Condition Apply</p>
                            <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInRight" data-wow-delay="0.7s"
                                href="{% url 'products' %}">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Searvices Start -->
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-6 col-md-4 col-lg-2 border-start border-end wow fadeInUp" data-wow-delay="0.1s">
                <div class="p-4">
                    <div class="d-inline-flex align-items-center">
                        <i class="fa fa-sync-alt fa-2x text-primary"></i>
                        <div class="ms-4 text-dark">
                            <p class="text-uppercase mb-2 fw-bold text-dark">Free Return</p>
                            <p class="mb-0">30 days money back guarantee!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.2s">
                <div class="p-4">
                    <div class="d-flex align-items-center">
                        <i class="fab fa-telegram-plane fa-2x text-primary"></i>
                        <div class="ms-4 text-dark">
                            <p class="text-uppercase mb-2 fw-bold text-dark">Free Shipping</p>
                            <p class="mb-0">Free shipping on all order</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.3s">
                <div class="p-4">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-life-ring fa-2x text-primary"></i>
                        <div class="ms-4 text-dark">
                            <p class="text-uppercase mb-2 fw-bold text-dark">Support 24/7</p>
                            <p class="mb-0">We support online 24 hrs a day</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.4s">
                <div class="p-4">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-credit-card fa-2x text-primary"></i>
                        <div class="ms-3">
                            <p class="text-uppercase mb-2 fw-bold text-dark">Receive Gift Card</p>
                            <p class="mb-0">Recieve gift all over oder $50</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.5s">
                <div class="p-4">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-lock fa-2x text-primary"></i>
                        <div class="ms-4 text-dark">
                            <p class="text-uppercase mb-2 fw-bold text-dark">Secure Payment</p>
                            <p class="mb-0">We Value Your Security</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2 border-end wow fadeInUp" data-wow-delay="0.6s">
                <div class="p-4">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-blog fa-2x text-primary"></i>
                        <div class="ms-4 text-dark">
                            <p class="text-uppercase mb-2 fw-bold text-dark">Online Service</p>
                            <p class="mb-0">Free return products in 30 days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Searvices End -->

    <!-- Products Offer Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container">
            {% if sale_products %}
            <div class="row g-4">
                {% for product in sale_products %}
                    {% if forloop.counter <= 2 %}
                    {% if forloop.counter <= 1 %}
                        <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                    {% else %}
                        <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                    {% endif %}
                        <a href="{% url 'product_detail' product.id %}" class="d-flex align-items-center justify-content-between border bg-white rounded p-4">
                            <div>
                                <p class="text-muted mb-3">Find The Best Sale Offer for You!</p>
                                <p class="text-primary fs-4">{{ product.name }}</p>
                                {% with product.get_sale_percentage as sale_pct %}
                                    {% if sale_pct %}
                                        <h1 class="display-3 text-secondary mb-0">{{ sale_pct }}% <span class="text-primary fw-normal">Off</span></h1>
                                    {% else %}
                                        <h1 class="display-3 text-secondary mb-0">Sale <span class="text-primary fw-normal">Offer</span></h1>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="img-fluid" alt="" height="169px" width="145px">
                            {% else %}
                            <img src="{% static 'img/no-image.jpg' %}"  class="img-fluid" alt="" height="169px" width="145px">
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
                <p class="text-center text-muted mb-0">No sale products available at the moment.</p>
            {% endif %}
        </div>
    </div>
    <!-- Products Offer End -->


    <!-- Our Products Start -->
    <div class="container-fluid product py-5">
        <div class="container py-5">
            <div class="tab-class">
                <div class="row g-4">
                    <div class="col-lg-4 text-start wow fadeInLeft" data-wow-delay="0.1s">
                        <h1>Our Products</h1>
                    </div>
                    <div class="col-lg-8 text-end wow fadeInRight" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex text-center mb-5">
                            {%if all_products %}
                            <li class="nav-item mb-4">
                                <a class="d-flex mx-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill"
                                    href="#tab-1">
                                    <span class="text-dark" style="width: 130px;">All Products</span>
                                </a>
                            </li>
                            {% endif %}
                            {%if new_products %}
                            <li class="nav-item mb-4">
                                <a class="d-flex py-2 mx-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-2">
                                    <span class="text-dark" style="width: 130px;">New Arrivals</span>
                                </a>
                            </li>
                            {% endif %}
                            {%if featured_products %}
                            <li class="nav-item mb-4">
                                <a class="d-flex mx-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-3">
                                    <span class="text-dark" style="width: 130px;">Featured</span>
                                </a>
                            </li>
                            {% endif %}
                            {%if top_rated_products %}
                            <li class="nav-item mb-4">
                                <a class="d-flex mx-2 py-2 bg-light rounded-pill" data-bs-toggle="pill" href="#tab-4">
                                    <span class="text-dark" style="width: 130px;">Top Selling</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            {% for product in all_products %}    
                                {% if forloop.counter <= 8 %}
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                {% if product.image %}
                                                <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" style="height: 430px !important;" alt="">
                                                {% else %}
                                                <img src="{% static 'img/no-image.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                                                {% endif %}
                                                {% if "new" in product.tags %}
                                                    <div class="product-new">New</div>
                                                {% endif %}
                                                <div class="product-details">
                                                    <a href="{% url 'product_detail' product.id %}" aria-label="View Deatails for {{ product.name }}"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">{{ product.category.friendly_name }}</a>
                                                <a href="#" class="d-block h4">{{ product.name }} <br> {{product.sku}}</a>
                                                {% if product.get_sale_percentage %}
                                                    <span class="text-danger text-decoration-line-through mb-1 fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                    <span class="text-primary fs-5">{{currency}}{{ product.get_discounted_price|floatformat:"2" }}</span>
                                                {% else %}
                                                    <span class="text-primary fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div
                                            class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                                <a href="{% url 'product_detail' product.id %}"
                                            class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4" aria-label="View details for {{ product.name }}"><i
                                                class="fas fa-shopping-cart me-2"></i> Details</a>
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    {% with product.rating|floatformat:0|add:0 as rating_round %}
                                                        <div class="d-flex align-items-center">
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating_round %}
                                                                    <i class="fas fa-star text-primary"></i>
                                                                {% else %}
                                                                    <i class="fas fa-star"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endwith %}
                                                </div>

                                                {% if product.rating %}
                                                    <small class="text-muted ml-2">{{ product.rating|floatformat:1 }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted ml-2">No Rating</small>
                                                {% endif %}
                                                <div class="d-flex">
                                                    <!-- <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-3">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-random"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-0">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-heart"></i>
                                                        </span>
                                                    </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            {% for product in new_products %}
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                {% if product.image %}
                                                <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" style="height: 430px !important;" alt="">
                                                {% else %}
                                                <img src="{% static 'img/no-image.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                                                {% endif %}
                                                {% if "new" in product.tags %}
                                                    <div class="product-new">New</div>
                                                {% endif %}
                                                <div class="product-details">
                                                    <a href="{% url 'product_detail' product.id %}" aria-label="View Deatails for {{ product.name }}"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">{{ product.category.friendly_name }}</a>
                                                <a href="#" class="d-block h4">{{ product.name }} <br> {{product.sku}}</a>
                                                {% if product.get_sale_percentage %}
                                                    <span class="text-danger text-decoration-line-through mb-1 fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                    <span class="text-primary fs-5">{{currency}}{{ product.get_discounted_price|floatformat:"2" }}</span>
                                                {% else %}
                                                    <span class="text-primary fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div
                                            class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                                <a href="{% url 'product_detail' product.id %}"
                                            class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4" aria-label="View details for {{ product.name }}"><i
                                                class="fas fa-shopping-cart me-2"></i> Details</a>
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    {% with product.rating|floatformat:0|add:0 as rating_round %}
                                                        <div class="d-flex align-items-center">
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating_round %}
                                                                    <i class="fas fa-star text-primary"></i>
                                                                {% else %}
                                                                    <i class="fas fa-star"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endwith %}
                                                </div>

                                                {% if product.rating %}
                                                    <small class="text-muted ml-2">{{ product.rating|floatformat:1 }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted ml-2">No Rating</small>
                                                {% endif %}
                                                <div class="d-flex">
                                                    <!-- <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-3">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-random"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-0">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-heart"></i>
                                                        </span>
                                                    </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            {% for product in featured_products %}
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                {% if product.image %}
                                                <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" style="height: 430px !important;" alt="">
                                                {% else %}
                                                <img src="{% static 'img/no-image.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                                                {% endif %}
                                                {% if "new" in product.tags %}
                                                    <div class="product-new">New</div>
                                                {% endif %}
                                                <div class="product-details">
                                                    <a href="{% url 'product_detail' product.id %}" aria-label="View Deatails for {{ product.name }}"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">{{ product.category.friendly_name }}</a>
                                                <a href="#" class="d-block h4">{{ product.name }} <br> {{product.sku}}</a>
                                                {% if product.get_sale_percentage %}
                                                    <span class="text-danger text-decoration-line-through mb-1 fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                    <span class="text-primary fs-5">{{currency}}{{ product.get_discounted_price|floatformat:"2" }}</span>
                                                {% else %}
                                                    <span class="text-primary fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div
                                            class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                                <a href="{% url 'product_detail' product.id %}"
                                            class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4" aria-label="View details for {{ product.name }}"><i
                                                class="fas fa-shopping-cart me-2"></i> Details</a>
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    {% with product.rating|floatformat:0|add:0 as rating_round %}
                                                        <div class="d-flex align-items-center">
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating_round %}
                                                                    <i class="fas fa-star text-primary"></i>
                                                                {% else %}
                                                                    <i class="fas fa-star"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endwith %}
                                                </div>

                                                {% if product.rating %}
                                                    <small class="text-muted ml-2">{{ product.rating|floatformat:1 }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted ml-2">No Rating</small>
                                                {% endif %}
                                                <div class="d-flex">
                                                    <!-- <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-3">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-random"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-0">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-heart"></i>
                                                        </span>
                                                    </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            {% for product in top_rated_products %}
                                   {% if forloop.counter <= 4 %}
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                        <div class="product-item-inner border rounded">
                                            <div class="product-item-inner-item">
                                                {% if product.image %}
                                                <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" style="height: 430px !important;" alt="">
                                                {% else %}
                                                <img src="{% static 'img/no-image.jpg' %}" class="img-fluid w-100 rounded-top" alt="">
                                                {% endif %}
                                                {% if "new" in product.tags %}
                                                    <div class="product-new">New</div>
                                                {% endif %}
                                                <div class="product-details">
                                                    <a href="{% url 'product_detail' product.id %}" aria-label="View Deatails for {{ product.name }}"><i class="fa fa-eye fa-1x"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center rounded-bottom p-4">
                                                <a href="#" class="d-block mb-2">{{ product.category.friendly_name }}</a>
                                                <a href="#" class="d-block h4">{{ product.name }} <br> {{product.sku}}</a>
                                                {% if product.get_sale_percentage %}
                                                    <span class="text-danger text-decoration-line-through mb-1 fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                    <span class="text-primary fs-5">{{currency}}{{ product.get_discounted_price|floatformat:"2" }}</span>
                                                {% else %}
                                                    <span class="text-primary fs-5">{{currency}}{{ product.price|floatformat:"2" }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div
                                            class="product-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                                                <a href="{% url 'product_detail' product.id %}"
                                            class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4" aria-label="View details for {{ product.name }}"><i
                                                class="fas fa-shopping-cart me-2"></i> Details</a>
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                    </small>
                                                {% endif %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    {% with product.rating|floatformat:0|add:0 as rating_round %}
                                                        <div class="d-flex align-items-center">
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= rating_round %}
                                                                    <i class="fas fa-star text-primary"></i>
                                                                {% else %}
                                                                    <i class="fas fa-star"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    {% endwith %}
                                                </div>

                                                {% if product.rating %}
                                                    <small class="text-muted ml-2">{{ product.rating|floatformat:1 }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted ml-2">No Rating</small>
                                                {% endif %}
                                                <div class="d-flex">
                                                    <!-- <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-3">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-random"></i>
                                                        </span>
                                                    </a>
                                                    <a href="#"
                                                        class="text-primary d-flex align-items-center justify-content-center me-0">
                                                        <span class="rounded-circle btn-sm-square border">
                                                            <i class="fas fa-heart"></i>
                                                        </span>
                                                    </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Products End -->

    <!-- Product Banner Start -->
    <div class="container-fluid py-5">
        <div class="container">
            {% if sale_products %}
            <div class="row g-4">
                {% for product in sale_products %}
                    {% if forloop.counter >= 3 %}
                        {% if forloop.counter >= 3 %}
                            <div class="col-lg-4 wow fadeInLeft" data-wow-delay="0.2s">
                        {%else%}
                       <div class="col-lg-4 wow fadeInRight" data-wow-delay="0.3s"></div>
                        {% endif %}



                                <div class="bg-primary rounded position-relative">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" class="img-fluid rounded" style="height: 520px; width: 417px;" alt="Image">
                                    {% else %}
                                    <img src="{% static 'img/no-image.jpg' %}" class="img-fluid w-100 rounded" alt="">
                                    {% endif %}
                                    {% if forloop.counter == 3 or forloop.counter == 5 %}
                                        
                                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center rounded p-4"
                                        style="background: rgba(255, 255, 255, 0.5);">
                                        <p class="display-5 text-primary fs-1 fw-bold">{{ product.name }}<br> <span>{{product.sku}}</span></p>
                                        
                                        <p class="fs-4 text-muted">{{currency}}{{ product.price|floatformat:"2" }}</p>

                                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary rounded-pill align-self-start py-2 px-4">Shop Now</a>
                                    </div>
                                    {% else %}
                                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center rounded p-4"
                                            style="background: rgba(242, 139, 0, 0.5);">
                                            <h2 class="display-2 text-secondary mb-4">SALE</h2>
                                            {% with product.get_sale_percentage as sale_pct %}
                                                {% if sale_pct %}
                                                    <p class="display-5 text-white mb-5 fw-bold fs-1">Get UP To {{ sale_pct }}% Off</p>
                                                {% else %}
                                                    <p class="display-5 text-white mb-5 fw-bold fs-1">Sale Offer</p>
                                                {% endif %}
                                            {% endwith %}
                                            <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary rounded-pill align-self-center py-2 px-4">Shop
                                                Now</a>
                                        </div>
                                    {% endif %}
                                </div>

                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
                <p class="text-center text-muted mb-0">No sale products available at the moment.</p>
            {% endif %}    
        </div>
    </div>
    <!-- Product Banner End -->

    <!-- Product List Satrt -->

    <div class="container-fluid products productList overflow-hidden">
        <div class="container products-mini py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <p class="text-primary fs-3 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius wow fadeInUp"
                    data-wow-delay="0.1s">Products</p>
                <p class="mb-0 display-3 wow fadeInUp" data-wow-delay="0.3s">All Product Items</p>
            </div>
          <div class="productList-carousel owl-carousel pt-4">
    {% for group in grouped_products %}
        <div class="productImg-carousel owl-carousel productList-item">

            {% for product in group %}
                <div class="productImg-item products-mini-item border">
                    <div class="row g-0">

                        <!-- Image -->
                        <div class="col-5">
                            <div class="products-mini-img border-end h-100">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="img-fluid w-100" style="object-fit: cover; height: 230px !important;" alt="{{ product.name }}">
                                {% else %}
                                    <img src="{% static 'img/no-image.jpg' %}" class="img-fluid w-100" alt="{{ product.name }}">
                                {% endif %}
                                <div class="products-mini-icon rounded-circle bg-primary">
                                    <a href="{% url 'product_detail' product.id %}" aria-label="View Deatails for {{ product.name }}"><i class="fa fa-eye fa-1x text-white"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="col-7">
                            <div class="products-mini-content p-3 py-5">
                                <small>{{ product.category.friendly_name }}</small>
                                <p class="fw-bold fs-6">{{ product.name }}</p>
                                <small>{{ product.sku }}</small>

                                {% if product.get_sale_percentage %}
                                    <del>{{currency}}{{ product.price }}</del><br>
                                    <span class="text-primary fw-bold">
                                        {{currency}}{{ product.get_discounted_price }}
                                    </span>
                                {% else %}
                                    <span class="text-primary fw-bold">
                                        {{currency}}{{ product.price }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    {% endfor %}
</div>
        </div>
    </div>

  
    <!-- Product List End -->

    <!-- Bestseller Products Start -->
    <div class="container-fluid products pb-5">
        <div class="container products-mini py-5">
            <div class="mx-auto text-center mb-5" style="max-width: 700px;">
                <p class="text-primary fs-3 mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius wow fadeInUp"
                    data-wow-delay="0.1s">Bestseller Products</p>
                <p class="mb-0 wow fadeInUp" data-wow-delay="0.2s">Explore our best-selling collection, trusted for exceptional quality and timeless appeal.
These customer favourites are perfect for gifting and every special occasion.</p>
            </div>
            <div class="row g-4">
            {% for product in top_rated_products %}
             
                <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="products-mini-item border">
                        <div class="row g-0">
                              <!-- Image -->
                        <div class="col-5">
                            <div class="products-mini-img border-end h-100">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="img-fluid w-100" style="object-fit: cover; height: 230px !important;" alt="{{ product.name }}">
                                {% else %}
                                    <img src="{% static 'img/no-image.jpg' %}" class="img-fluid w-100 h-100" alt="{{ product.name }}">
                                {% endif %}
                                <div class="products-mini-icon rounded-circle bg-primary">
                                    <a href="{% url 'product_detail' product.id %}" aria-label="View Deatails for {{ product.name }}"><i class="fa fa-eye fa-1x text-white"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="col-7">
                            <div class="products-mini-content p-3 py-5">
                                <small>{{ product.category.friendly_name }}</small>
                                <p class="fw-bold fs-6">{{ product.name }}</p>
                                <small>{{ product.sku }}</small>

                                {% if product.get_sale_percentage %}
                                    <del>{{currency}}{{ product.price }}</del><br>
                                    <span class="text-primary fw-bold">
                                        {{currency}}{{ product.get_discounted_price }}
                                    </span>
                                {% else %}
                                    <span class="text-primary fw-bold">
                                        {{currency}}{{ product.price }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                        <div class="products-mini-add border p-3">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4"><i
                                    class="fas fa-shopping-cart me-2"></i> Details</a>
                            <div class="d-flex">
                                <!-- <a href="#"
                                    class="text-primary d-flex align-items-center justify-content-center me-3">
                                    <span class="rounded-circle btn-sm-square border">
                                        <i class="fas fa-random"></i>
                                    </span>
                                </a>
                                <a href="#"
                                    class="text-primary d-flex align-items-center justify-content-center me-0">
                                    <span class="rounded-circle btn-sm-square border">
                                        <i class="fas fa-heart"></i>
                                    </span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
           
            {% endfor %}
            </div>
        </div>
    </div>
    <!-- Bestseller Products End -->



{% endblock %}