{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<div class="container py-5">
    <div class="bg-light p-5 rounded">

        <div class="text-center mb-5">
            <p class="text-primary fs-3 border-bottom border-primary border-2 d-inline-block pb-2">
                Sign In
            </p>
            <p class="fs-5 text-dark">
                Sign in for a faster, personalized shopping experience.
            </p>
        </div>

        <div class="row g-4 px-5">

            <!-- Left Content -->
            <div class="col-lg-6 p-3 px-5">
                <h1 class="display-5 mb-3">Sign In to Your Account</h1>
                <p>
                    Welcome back! Log in to track your purchases, save your favorite items, and continue shopping.
                    Access your account to manage orders and explore your wishlist.
                </p>
                <p>
                    {% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}" class="fw-bold">sign up</a> first.{% endblocktrans %}
                </p>
            </div>

            <!-- Form -->
            <div class="col-lg-6 p-5 rounded shadow">
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}

                    {{ form|crispy }}

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <a href="{% url 'account_reset_password' %}">
                            {% trans "Forgot Password?" %}
                        </a>
                    </div>

                    <button class="btn btn-primary w-100 mt-4 py-3" type="submit">
                        {% trans "Sign In" %}
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>




 

 

{% endblock %}
