{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        
        <div class="col-md-6 col-lg-5">
            <div class="bg-light p-5 rounded shadow text-center">

                <h2 class="mb-4">{% trans "Change Password" %}</h2>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-start">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-primary w-100 mt-3" name="action">
                        {% trans "Change Password" %}
                    </button>

                    <div class="text-center mt-3">
                        <a href="{% url 'account_reset_password' %}">
                            {% trans "Forgot Password?" %}
                        </a>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


{% endblock %}
