{% extends "base.html" %}

{% load static %}

{% block content %}


    <!-- Single Products Start -->
    <div class="container-fluid shop py-4">
        <div class="container py-4">
            <div class="row g-4">
                <div class="col-lg-5 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100 mx-auto d-flex mb-4">
                                <input type="search" name='q' class="form-control p-3" placeholder="keywords"
                                    aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i
                                        class="fa fa-search"></i></span>
                        </div>
                    </form>
                    <div class="product-categories mb-4">
                        <h4>Products Categories</h4>
                        <ul class="list-unstyled">
                            {% for category in nav_categories %}
                                <li>
                                    <div class="categories-item">
                                        <a href="{% url 'products' %}?category={{ category.name }}" class="text-dark"><i class="{% if category.icon %}{{ category.icon }}{% else %}fas fa-apple-alt{% endif %} text-secondary me-2"></i>{{ category.friendly_name }}</a>
                                        <span>({{ category.product_count }})</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="#">
                        <div class="position-relative">
                            <img src="{% static '/img/product-banner-2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="text-center position-absolute d-flex flex-column align-items-center justify-content-center rounded p-4"
                                style="width: 100%; height: 100%; top: 0; right: 0; background: rgba(242, 139, 0, 0.3);">
                                <h5 class="display-6 text-primary">SALE</h5>
                                <h4 class="text-secondary">Get UP To 50% Off</h4>
                                <a href="{% url 'products' %}?tags=sale" class="btn btn-primary rounded-pill px-4">Shop Now</a>
                            </div>
                        </div>
                    </a>
                    <div class="product-tags py-4">
                        <h4 class="mb-3">Occasions</h4>
                        <div class="product-tags-items bg-light rounded p-3">
                            {% for occasion in global_occasions %}
                                <a href="{% url 'products' %}?occasions={{ occasion }}" class="border rounded py-1 px-2 mb-2 {% if current_occasions and occasion in current_occasions %}text-white{% endif %}" {% if current_occasions and occasion in current_occasions %}style="background-color: #f28b00;"{% endif %}>{{ occasion|title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-9 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-4 single-product">
                        <div class="col-xl-6">
                            <div class="single-item">
                                <div class="single-inner bg-light rounded">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{product.name}}">
                                    {% else %}
                                    <img src="{% static 'img/product-4.png' %}" class="img-fluid rounded" alt="{{product.name}}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <h4 class="fw-bold mb-3">{{ product.name }}</h4>
                            <p class="mb-3">Category: {{ product.category.friendly_name }}</p>
                            <h5 class="fw-bold mb-3">£{{ product.price|floatformat:2 }}</h5>
                            <div class="d-flex mb-4">
                                {% with product.rating|floatformat:0|add:0 as rating_round %}
                                    <div class="d-flex align-items-center">
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= rating_round %}
                                                <i class="fas fa-star text-primary"></i>
                                            {% else %}
                                                <i class="fas fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endwith %}
                                <span class="ms-3">({{ product.rating|floatformat:1 }} / 5)</span>
                            </div>
                            <div class="mb-3">
                                <div class="btn btn-primary d-inline-block rounded text-white py-1 px-4 me-2"><i
                                        class="fab fa-facebook-f me-1"></i> Share</div>
                                <div class="btn btn-secondary d-inline-block rounded text-white py-1 px-4 ms-2"><i
                                        class="fab fa-twitter ms-1"></i> Share</div>
                            </div>
                            <div class="d-flex flex-column mb-3">
                                <small>Product SKU: {{ product.sku }}</small>
                                <!-- <small>Available: <strong class="text-primary">20 items in stock</strong></small> -->
                            </div>
                            <p class="mb-4">{{ product.description }}</p>
                       <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                            {% with product.has_sizes as s %}
                                {% if s %}
                                    <div class="col-12 mb-4">
                                        <p><strong>Size:</strong></p>
                                        <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                            <option value="xs">XS</option>
                                            <option value="s">S</option>
                                            <option value="m" selected>M</option>
                                            <option value="l">L</option>
                                            <option value="xl">XL</option>
                                        </select>
                                    </div>
                                {% endif %}
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" name="quantity" class="form-control form-control-sm text-center border-0 qty_input" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <button type="submit"
                                class="btn btn-primary border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                                    class="fa fa-shopping-bag me-2 text-white"></i> Add to cart</button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                {% endwith %}
                            </form>
                        </div>

                        <div class="col-lg-12">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button"
                                        role="tab" id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">Description</button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                <div class="tab-pane active" id="nav-about" role="tabpanel"
                                    aria-labelledby="nav-about-tab">
                                    <p>{{ product.description }}</p>
                                    </p>
                                    <b class="fw-bold">Occasions:</b>
                                    <p class="small">
                                        <div class="d-flex flex-wrap gap-2">
                                            {% for occ in product.occasion %}
                                                <span class="badge bg-primary text-white px-3 py-2">
                                                    {{ occ|title }}
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </p>
                                    </p>
                                    <b class="fw-bold">Tags:</b>
                                    <p class="small">
                                        <div class="d-flex flex-wrap gap-2">
                                            {% for tag in product.tags %}
                                                <span class="badge bg-primary text-white px-3 py-2">
                                                    {{ tag|title }}
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </p>
                                    <b class="fw-bold">Receipients:</b>
                                    <p class="small">
                                        <div class="d-flex flex-wrap gap-2">
                                            {% for recipient in product.recipients %}
                                                <span class="badge bg-primary text-white px-3 py-2">
                                                    {{ recipient|title }}
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single Products End -->

    <div class="container-fluid related-product">
        <div class="container">
            <div class="mx-auto text-center pb-5" style="max-width: 700px;">
                <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius wow fadeInUp"
                    data-wow-delay="0.1s">Related Products</h4>
                <p class="wow fadeInUp" data-wow-delay="0.2s">Discover products similar to the one you are viewing and explore more options from the same category. These items are selected to match your needs and help you find the perfect choice easily.</p>
            </div>
            <div class="related-carousel owl-carousel pt-4">
                 {% for product in related_products %}
                    <div class="related-item rounded">
                        <div class="related-item-inner border rounded">
                            <div class="related-item-inner-item">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" alt="">
                                {% else %}
                                    <img src="{% static '/img/product-3.png' %}" class="img-fluid w-100 rounded-top" alt="">
                                {% endif %}
                                {% if "new" in product.tags %}
                                    <div class="related-new">New</div>
                                {% endif %}
                                <div class="related-details">
                                    <a href="{% url 'product_detail' product.id %}"><i class="fa fa-eye fa-1x"></i></a>
                                </div>
                            </div>
                            <div class="text-center rounded-bottom p-4">
                                <a href="{% url 'product_detail' product.id %}" class="d-block mb-2">{{product.name}}</a>
                                <a href="{% url 'product_detail' product.id %}" class="d-block h4">{{ product.category.friendly_name }}<br> {{ product.sku }}</a>
                                {% if product.get_sale_percentage %}
                                    <del class="me-2 fs-5">${{ product.price|floatformat:"2" }}</del>
                                    <span class="text-primary fs-5">${{ product.get_discounted_price|floatformat:"2" }}</span>
                                {% else %}
                                    <span class="text-primary fs-5">${{ product.price|floatformat:"2" }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="related-item-add border border-top-0 rounded-bottom  text-center p-4 pt-0">
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4"><i
                                    class="fas fa-shopping-cart me-2"></i> Add To Cart</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                            {% with product.rating|floatformat:0|add:0 as rating_round %}
                                                <div class="d-flex align-items-center">
                                                    {% for i in "12345" %}
                                                        {% if forloop.counter <= rating_round %}
                                                            <i class="fas fa-star text-primary"></i>
                                                        {% else %}
                                                            <i class="fas fa-star"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endwith %}
                                        </div>
                                <div class="d-flex">
                                    <a href="#"
                                        class="text-primary d-flex align-items-center justify-content-center me-3"><span
                                            class="rounded-circle btn-sm-square border"><i
                                                class="fas fa-random"></i></i></a>
                                    <a href="#"
                                        class="text-primary d-flex align-items-center justify-content-center me-0"><span
                                            class="rounded-circle btn-sm-square border"><i class="fas fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 

            </div>
        </div>
    </div>

{% endblock %}
